body {
  background-color: lightblue;
  margin-left: 150px;
  margin-right: 150px;
  font-family: Trebuchet MS, sans-serif;
}

h1 {
  color: black;
  text-shadow: 2px 2px 4px #ff0000;
}

h2 {
  color: black;
  text-shadow: 2px 2px 4px #ff0000;
}

p {
    text-align: justify;
}